@using BOXCricket.BAL
@model BOXCricket.Areas.MST_User.Models.MST_User_PasswrodChange;
@using System.Data
@{
    if (CommonVariables.IsAdmin() == true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Change Password</h4>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link" asp-area="MST_User" asp-controller="MST_User" asp-action="Profile"><i
                            class="bx bx-user bx-tada me-1"></i> Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-area="MST_User" asp-controller="MST_User"
                        asp-action="ChangePassword"><i class="bx bxs-key me-1"></i> Password</a>
                </li>
            </ul>
            <form id="formAccountSettings" asp-area="MST_User" asp-controller="MST_User" asp-action="SavePassword"
                method="POST">
                <div class="card mb-4">
                    <h5 class="card-header">Change Password</h5>
                    <!-- Account -->
                    <hr class="my-0" />

                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="CurruntPassword">Currunt Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" asp-for="CurruntPassword" id="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" autofocus/>
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                                </div>
                                <span asp-validation-for="CurruntPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="NewPassword">New Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" asp-for="NewPassword" id="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="password">Confirm Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                            @if (CommonVariables.IsAdmin() == false)
                            {
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Cancel</a>
                            }
                            else
                            {
                                <a asp-action="AdminIndex" asp-controller="Home" class="btn btn-outline-secondary">Cancel</a>
                            }
                        </div>
                    </div>
                </div>
            </form>
            <!-- /Account -->
        </div>
    </div>
</div>
<!-- / Content -->

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}