@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BOXCricket.Areas.MST_Rate.Models.MST_RateModel;

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Rates /</span> Rate Add-Edit</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="col-lg-8 mx-auto">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Rate Details</h5>
                        </div>
                        <div class="card-body">
                            <form asp-action="Save" method="post">
                                <input type="hidden" asp-for="RateID"/>

                                <div class="mb-3">
                                    <label asp-for="GroundID" for="exampleFormControlSelect1" class="form-label">Ground Id</label>
                                    <Select type="text" class="form-select" aria-label="Default select example" asp-for="GroundID" asp-items="@(new SelectList(ViewBag.GroundList, "GroundID", "GroundName"))">
                                        <option value="">Select the Ground</option>
                                    </Select>
                                    <span asp-validation-for="GroundID" class="text-danger"></span>
                                </div>                                
                                                             
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label asp-for="DayOfWeek" for="exampleFormControlSelect1" class="form-label">Day Of Week</label>
                                            <select asp-for="DayOfWeek" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                                                <option selected>Select Day Of Week</option>
                                                <option value="Sunday">Sunday</option>
                                                <option value="Monday">Monday</option>
                                                <option value="Tuesday">Tuesday</option>
                                                <option value="Wednesday">Wednesday</option>
                                                <option value="Thursday">Thursday</option>
                                                <option value="Friday">Friday</option>
                                                <option value="Saturday">Saturday</option>
                                            </select>
                                            <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label asp-for="SlotNO" for="exampleFormControlSelect1" class="form-label">Slot</label>
                                            <Select type="text" class="form-select" aria-label="Default select example" asp-for="SlotNO" asp-items="@(new SelectList(ViewBag.SlotList, "SlotNO", "SlotDetails"))">
                                                <option value="">Select the Slot</option>
                                            </Select>
                                            <span asp-validation-for="SlotNO" class="text-danger"></span>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="mb-3">
                                    <label asp-for="HourlyRate" class="form-label" for="basic-default-company">Hourly Rate</label>
                                    <input asp-for="HourlyRate" type="text" class="form-control" id="basic-default-company" placeholder="Enter Hourly Rate in INR" />
                                    <span asp-validation-for="HourlyRate" class="text-danger"></span>
                                </div>
                                <div class="demo-inline-spacing">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a asp-action="RateList" class="btn btn-secondary ms-2">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
