<form asp-action="BOXCricketSearch" asp-controller="MST_BOXCricket" asp-area="MST_BOXCricket" class="row mb-3">
    <div class="row">
        <div class="col-md-3 mb-2">
            <div class="form-group">
                <label for="searchBOXCricketName">BOXCricket Name</label>
                <input type="text" class="form-control" name="BOXCricketName" id="searchBOXCricketName"
                       placeholder="BOXCricket Name" />
            </div>
        </div>
    </div>

    <div class="col-md-1 mb-2">
        <div class="form-group">
            <label class="">&nbsp;</label>
            <div class="d-flex">
                <button type="submit" class="btn btn-outline-success">Search</button>
                <input type="reset" value="Reset" class="btn btn-outline-secondary ms-2" />
            </div>
        </div>
    </div>
</form>
